/* #region common css */
.text-light {
  color: #555555;
}
.text-dark {
  color: #111111;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #eee;
}
/* #endregion common css */

/* #region header */

.desktop-menu {
  display: none;
}
.desktop-menu a {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #555555;
}
.desktop-menu a:last-child {
  color: #ff3998;
}

.header {
  padding-top: 32px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu__line {
  height: 4px;
  width: 24px;
  border-radius: 3px;
  background-color: #999999;
}
.mobile-menu__line:not(.mobile-menu__line:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: flex;
    gap: 15px;
  }
}
/* #endregion header */

/* #region sign-up-card */
.hero {
  padding-top: 38px;
  padding-bottom: 80px;
  background-image: url(../images/graphic.png);
  background-repeat: no-repeat;
  background-position-x: 205px;
  background-position-y: -50px;
  background-size: contain;
}
.sign-up-card {
  width: 75%;
}
.sign-up-card__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
.sign-up-card__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 24px;
}
.sign-up-card__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
}
.sign-up-card__btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 14px 42px;
  font-size: 20px;
  line-height: 150%;
  background-color: #fff;
  border: 4px solid #ff3998;
  border-radius: 32px;
}

@media screen and (min-width: 1280px) {
  .sign-up-card {
    width: 45%;
  }
  .sign-up-card__title {
    font-size: 96px;
    line-height: 116px;
  }
  .hero {
    background-position-x: 650px;
    background-position-y: -30px;
    background-size: 640px;
  }
}
/* #endregion sign-up-card */

/* #region upsell */
.upsell {
  padding-top: 122px;
  padding-bottom: 32px;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: -750px;
}
.upsell__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.upsell__description {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

@media screen and (min-width: 1280px) {
  .upsell {
    background-position: center center;
    background-size: contain;
  }
  .text-block {
    padding-left: 64px;
    padding-bottom: 64px;
  }
  .upsell__title br {
    display: none;
  }
}
/* #endregion upsell */

/* #region press */
.press__content {
  padding-top: 64px;
  padding-bottom: 56px;
}
.press__content :nth-child(1) {
  grid-area: img1;
}
.press__content :nth-child(2) {
  grid-area: img2;
}
.press__content :nth-child(3) {
  grid-area: img3;
}
.press__content :nth-child(4) {
  display: none;
  grid-area: img4;
}
.press__content :nth-child(5) {
  grid-area: img5;
}
.press__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 23px;
  grid-template-areas:
    "img1 img2"
    "img3 img5";
}

@media screen and (min-width: 1280px) {
  .press__content :nth-child(4) {
    display: inline-block;
  }
  .press__content {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }
}
/* #endregion press */

/* #region showcase */
.showcase {
  padding-bottom: 92px;
}
.showcase__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.showcase__description {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555;
}
.showcase__description a {
  padding-bottom: 1px;
  border-bottom: 2px solid #555;
}

.card__main-img {
  display: block;
}
.card__info {
  width: 290px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #eee;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.card__info > * {
  flex-basis: 50%;
}
.card__info :nth-child(even) {
  text-align: end;
}
.card__collection-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ff8139;
}
.card__top-bid {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #777;
}
.card__nft-title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.card__price {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
.card .price-icon {
  margin-right: 5px;
}
.card .price {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.card__nft-id {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #777;
  align-self: flex-end;
}
.card__time-left {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #777;
  align-self: flex-end;
}

.cards {
  overflow: hidden;
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 1280px) {
  .cards {
    gap: 0;
    justify-content: space-between;
  }
  .showcase {
    padding-bottom: 120px;
  }
  .showcase__title {
    margin-bottom: 24px;
  }
  .showcase__description {
    margin-bottom: 56px;
  }
}
/* #endregion showcase */

/* #region footer-upsell */
.footer-upsell {
  padding-top: 64px;
  padding-bottom: 66px;
  background-image: url(../images/upsell-footer-image.svg);
  background-repeat: no-repeat;
  background-position-x: 253px;
  background-position-y: 145px;
}
.footer-upsell .sign-up-card {
  width: 60%;
}
.footer-upsell .sign-up-card__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 24px;
}
/* #endregion footer-upsell */

/* #region footer */
.footer {
  padding-top: 64px;
  padding-bottom: 95px;
  color: #555555;
}
.footer__logo {
  margin-bottom: 64px;
}
.logo__img {
  margin-bottom: 30px;
}
.footer__logo p {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.footer .icons {
  display: flex;
  gap: 15px;
}

.about {
  grid-area: about;
}
.nft {
  grid-area: nft;
}
.contact {
  grid-area: contact;
}
.social {
  grid-area: social;
}
.info-links {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "about nft"
    "contact social";
}

.about h4,
.nft h4,
.contact h4,
.social h4 {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.info-links :not(h4) {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.info-links > * {
  margin-bottom: 28px;
}

.footer__copyright :first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #999999;
}
.footer__copyright :last-child {
  display: none;
}
/* #endregion footer */
